@import "tailwindcss";

:root {
  --primary: #1f206a;
  --secondary: #3089ED;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body,
.MuiTypography-root,
.roboto {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background-color: var(--color-secondary);
}