@import "tailwindcss";

:root {
  --primary: #1f206a;
  --secondary: #3089ED;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

html{
  scroll-behavior: smooth;
}

body,
.MuiTypography-root,
.roboto {
  font-family: "Roboto", sans-serif;
}

.oswald{
  font-family: "Oswald", sans-serif !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background-color: var(--color-secondary);
}

.PhotoView-Slider__Backdrop{
  background-color: #000000CC !important;
}

.PhotoView-Slider__toolbarIcon{
  fill: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 35px !important;
  height: 35px !important;
  padding: 6px !important;
  position: absolute;
  top: 12;
  right: 12;
}

.PhotoView-Slider__Counter{
  visibility: hidden !important;
}
